@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.p-10 {
    padding: 10px;
}

.display-block {
    display: block;
}
